<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="LIMBERO_v1_8_Limb" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="limb_macro" params="prefix parent radius">
    <joint
      name="${prefix}_joint"
      type="fixed">
      <origin
        rpy="0 0 ${radians(radius)}"
        xyz="${0.2*cos(radians(radius))} ${0.2*sin(radians(radius))} 0"/>
      <parent
        link="${parent}" />
      <child
        link="${prefix}_limb_root" />
    </joint>

    <link
      name="${prefix}_limb_root">
      <inertial>
        <origin
          xyz="-0.015029 -0.047318 7.7573E-11"
          rpy="0 0 0" />
        <mass
          value="0.165" />
        <inertia
          ixx="4.2032E-05"
          ixy="-3.1577E-07"
          ixz="9.314E-14"
          iyy="6.1889E-05"
          iyz="1.6185E-13"
          izz="7.4785E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/limb_root.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/limb_root.STL" />
        </geometry>
      </collision>
    </link>
    <link
      name="${prefix}_coxa">
      <inertial>
        <origin
          xyz="0.015926 0.00061613 -0.0020226"
          rpy="0 0 0" />
        <mass
          value="0.18255" />
        <inertia
          ixx="4.7356E-05"
          ixy="-3.1577E-07"
          ixz="9.3141E-14"
          iyy="6.7035E-05"
          iyz="1.6185E-13"
          izz="8.4999E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/coxa.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/coxa.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_B2C"
      type="revolute">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}_limb_root" />
      <child
        link="${prefix}_coxa" />
      <axis
        xyz="0 0 1" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="5"
        velocity="5" />
    </joint>
    <link
      name="${prefix}_femur">
      <inertial>
        <origin
          xyz="0.13738 0.00023125 -3.3069E-08"
          rpy="0 0 0" />
        <mass
          value="0.15218" />
        <inertia
          ixx="3.118E-05"
          ixy="-3.7216E-08"
          ixz="-4.6675E-12"
          iyy="3.8311E-05"
          iyz="3.1705E-11"
          izz="4.9679E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/femur.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/femur.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_C2F"
      type="revolute">
      <origin
        xyz="0.031 0 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}_coxa" />
      <child
        link="${prefix}_femur" />
      <axis
        xyz="0 1 0" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="5"
        velocity="5" />
    </joint>
    <link
      name="${prefix}_tibia">
      <inertial>
        <origin
          xyz="0.090404 1.3321E-07 0.019798"
          rpy="0 0 0" />
        <mass
          value="0.065879" />
        <inertia
          ixx="1.4858E-05"
          ixy="6.1839E-09"
          ixz="3.2933E-06"
          iyy="2.4705E-05"
          iyz="2.9362E-08"
          izz="3.0605E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/tibia.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/tibia.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_F2T"
      type="revolute">
      <origin
        xyz="0.2 0 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}_femur" />
      <child
        link="${prefix}_tibia" />
      <axis
        xyz="0 1 0" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="5"
        velocity="5" />
    </joint>
    <link
      name="${prefix}_limb_end">
      <inertial>
        <origin
          xyz="-0.011645 0.00042918 -9.53E-12"
          rpy="0 0 0" />
        <mass
          value="0.081999" />
        <inertia
          ixx="1.3061E-05"
          ixy="-3.7211E-08"
          ixz="3.1094E-14"
          iyy="1.9634E-05"
          iyz="-3.9438E-17"
          izz="2.2308E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/limb_end.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/limb_end.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_T2E"
      type="revolute">
      <origin
        xyz="0.2 0 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}_tibia" />
      <child
        link="${prefix}_limb_end" />
      <axis
        xyz="0 1 0" />
      <limit
        lower="-3.14"
        upper="3.14"
        effort="5"
        velocity="5" />
    </joint>
    <link
      name="${prefix}_end_effector">
      <inertial>
        <origin
          xyz="0.070823 0.00014136 -0.0017833"
          rpy="0 0 0" />
        <mass
          value="0.2396" />
        <inertia
          ixx="6.9752E-05"
          ixy="2.5824E-07"
          ixz="5.838E-07"
          iyy="5.2421E-05"
          iyz="-1.1385E-07"
          izz="5.1138E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/end_effector.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/end_effector.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_end_effector"
      type="fixed">
      <origin
        xyz="0.01125 0 0.00025"
        rpy="0 0 0" />
      <parent
        link="${prefix}_limb_end" />
      <child
        link="${prefix}_end_effector" />
      <axis
        xyz="0 0 0" />
    </joint>
    <link
      name="${prefix}_palm">
      <inertial>
        <origin
          xyz="-0.032677 0.00014136 -0.0017833"
          rpy="0 0 0" />
        <mass
          value="0.2396" />
        <inertia
          ixx="6.9752E-05"
          ixy="2.5824E-07"
          ixz="5.838E-07"
          iyy="5.2421E-05"
          iyz="-1.1385E-07"
          izz="5.1138E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/palm.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.2 0.2 0.2 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="file://$(find lbr_description)/meshes/palm.STL" />
        </geometry>
      </collision>
    </link>
    <joint
      name="${prefix}_palm"
      type="fixed">
      <origin
        xyz="0.1035 0 0"
        rpy="0 0 0" />
      <parent
        link="${prefix}_end_effector" />
      <child
        link="${prefix}_palm" />
      <axis
        xyz="0 0 0" />
    </joint>
      <!-- Gazebo plugin for contact sensor  -->
    <gazebo reference="${prefix}_palm">
      <sensor name="${prefix}_gripper_bumper_sensor" type="contact">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <contact>
        <collision>${prefix}_limb_end_fixed_joint_lump__${prefix}_palm_collision_2</collision>
        </contact>
        <plugin name="${prefix}_gripper_bumper" filename="libgazebo_ros_bumper.so">
          <ros>
            <namespace>${prefix}</namespace>
          </ros>
          <frame_name>${prefix}_gripper</frame_name>
        </plugin>
      </sensor>
    </gazebo>
    <!-- Gazebo plugin for joint state publisher  -->
    <gazebo>
      <plugin name="${prefix}_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
        <ros>
          <namespace>${prefix}</namespace>
          <remapping>~/out:=joint_states</remapping>
        </ros>
        <update_rate>30</update_rate>
        <joint_name>${prefix}_B2C</joint_name>
        <joint_name>${prefix}_C2F</joint_name>
        <joint_name>${prefix}_F2T</joint_name>
        <joint_name>${prefix}_T2E</joint_name>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>