<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="assembled_gripper_mode" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grieel_gripper_macro" params="prefix parent">

    <joint
      name="${prefix}_E2grieel"
      type="fixed">
      <origin
        rpy="-1.5708 0 0"
        xyz="0 0 0"/>
      <parent
        link="${parent}_limb_end" />
      <child
        link="${prefix}_wristH_Link" />
      <!-- <axis
        xyz="0 1 0" />
      <limit
        lower="0"
        upper="0"
        effort="0"
        velocity="0" /> --> 
    </joint>

  <link
    name="${prefix}_wristH_Link">
    <inertial>
      <origin
        xyz="0.011821 8.7424E-07 4.3619E-14"
        rpy="0 0 0" />
      <mass
        value="0.00824" />
      <inertia
        ixx="1.7943E-06"
        ixy="-3.8552E-19"
        ixz="7.4101E-19"
        iyy="2.9379E-06"
        iyz="-2.3646E-09"
        izz="1.6633E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/wristH_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/wristH_Link.STL" />
      </geometry>
    </collision>
  </link>


  <link
    name="${prefix}_wristV_Link">
    <inertial>
      <origin
        xyz="0.0214166502499745 0.000471129500725836 0.0113219457469963"
        rpy="0 0 0" />
      <mass
        value="0.102059813857681" />
      <inertia
        ixx="2.51506057023328E-05"
        ixy="-5.87568310882068E-07"
        ixz="-5.02138918625881E-10"
        iyy="2.47069145197251E-05"
        iyz="-1.3142285327366E-09"
        izz="1.79824315026287E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/wristV_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/wristV_Link.STL" />
      </geometry>
    </collision>
  </link>


  <joint
    name="${prefix}_wristH"
    type="revolute">
    <origin
      xyz="0.025851 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="${prefix}_wristH_Link" />
    <child
      link="${prefix}_wristV_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14159265358"
      upper="3.14159265358"
      effort="8.0"
      velocity="4.0" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>


  <link
    name="${prefix}_driving_Link">
    <inertial>
      <origin
        xyz="5.44808065291863E-05 0.00431293338596027 0.0448909989385787"
        rpy="0 0 0" />
      <mass
        value="0.132659951311712" />
      <inertia
        ixx="3.76031003493078E-05"
        ixy="1.06164546307058E-08"
        ixz="7.08867360655478E-09"
        iyy="3.46919596241853E-05"
        iyz="4.14273177876885E-09"
        izz="4.32511275712205E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/driving_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/driving_Link.STL" />
      </geometry>
    </collision>
  </link>


  <joint
    name="${prefix}_wristV"
    type="revolute">
    <origin
      xyz="0.0209 0 0.024008"
      rpy="0 0 0" />
    <parent
      link="${prefix}_wristV_Link" />
    <child
      link="${prefix}_driving_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.78539816339"
      upper="1.57079632679"
      effort="8.0"
      velocity="4.0" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>

  <link
    name="${prefix}_gripper_Link">
    <inertial>
      <origin
        xyz="0.0710296935233056 0.0037135355484196 -0.00222742536711223"
        rpy="0 0 0" />
      <mass
        value="0.415840817883391" />
      <inertia
        ixx="0.000103581229161757"
        ixy="-5.56154912627397E-07"
        ixz="1.25700028997968E-06"
        iyy="5.98220979474832E-05"
        iyz="-5.92848495250994E-08"
        izz="8.09792661333327E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision name="${prefix}_gripper_Link_collision">
      <origin
      xyz="0 0 0"
      rpy="0 0 0" />
      <!-- <origin
        xyz="0.05 0 0"
        rpy="0 ${pi/2} 0" /> -->
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link.STL" />
          <!-- <cylinder radius="0.112" length="0.060"/> -->
      </geometry>
    </collision>
  </link>


  <joint
    name="${prefix}_driving"
    type="revolute">
    <origin
      xyz="0.0131 0 0.04576"
      rpy="0 0 0" />
    <parent
      link="${prefix}_driving_Link" />
    <child
      link="${prefix}_gripper_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.0"
      upper="0.0"
      effort="0.0"
      velocity="0.0" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>

  <link name="${prefix}_end_effector_DH_Link"/>

  <joint
    name="${prefix}_end_effector_DH"
    type="fixed">
    <origin
      xyz="0.0 0 0.0"
      rpy="-3.1416 -1.5708  0" />
    <parent
      link="${prefix}_gripper_Link" />
    <child
      link="${prefix}_end_effector_DH_Link" />
  </joint>

  <link name="${prefix}_gripper_end"/>


  <joint
    name="${prefix}_gripper_Root2End"
    type="fixed">
    <origin
      xyz="0.0975 0 0.0"
      rpy="0 1.5708  0" />
    <parent
      link="${prefix}_gripper_Link" />
    <child
      link="${prefix}_gripper_end" />
  </joint>


    <!-- Gazebo plugin for contact sensor -->
  <gazebo reference="${prefix}_gripper_Link">
    <sensor name="sensor_contact" type="contact">
        <contact>
            <collision>${prefix}_gripper_Link_collision_collision</collision>
        </contact>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-touchplugin-system" 
                name="gz::sim::systems::TouchPlugin">
        <target>ground_plane</target>
        <namespace>${prefix}</namespace>
        <time>0.001</time>
        <enabled>true</enabled>
    </plugin>
  </gazebo>



  </xacro:macro>

</robot>
