<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="wheel_mode" default="true" />

    <xacro:if value="$(arg wheel_mode)">
        <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_wheel_description.xacro" />
    </xacro:if>

    <xacro:unless value="$(arg wheel_mode)">
        <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_gripper_description.xacro" />
    </xacro:unless>

    <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_limb_description.xacro" />

    <xacro:macro name="joint_state_macro" params="prefix">

            <!-- Gazebo plugin for joint state publisher  -->
        <gazebo>
            <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
                <!-- <ros>
                    <namespace>${prefix}</namespace>
                    <remapping>~/out:=joint_states</remapping>
                </ros> -->
                <topic>${prefix}/joint_states</topic>
                <joint_name>${prefix}_B2C</joint_name>
                <joint_name>${prefix}_C2F</joint_name>
                <joint_name>${prefix}_F2T</joint_name>
                <joint_name>${prefix}_T2E</joint_name>
                <joint_name>${prefix}_wristH</joint_name>
                <joint_name>${prefix}_wristV</joint_name>
                <joint_name>${prefix}_driving</joint_name>
                <!-- <joint_name>${prefix}_F1_H2P1</joint_name> -->
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>