<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="grieel_ros2_control_macro" params="prefix">

    <ros2_control name="${prefix}_ros2_control" type="system">

      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      
      <!-- LIMB JOINTS -->
      <joint name="${prefix}_B2C">
        <command_interface name="position">
                    <param name="min">-2.10</param>
                    <param name="max">2.10</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_C2F">
        <command_interface name="position">
                    <param name="min">-1.95</param>
                    <param name="max">1.3</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F2T">
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <command_interface name="position">
                    <param name="min">-0.4</param>
                    <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">1.5707963267948966</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_T2E">
        <command_interface name="position">
                    <param name="min">-1.57</param>
                    <param name="max">1.57</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_wristH">
        <command_interface name="position">
                    <param name="min">-3.14159265358</param>
                    <param name="max">3.14159265358</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_wristV">
        <command_interface name="position">
                    <param name="min">-0.78539816339</param>
                    <param name="max">1.57079632679</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_driving">
        <command_interface name="position"/>
        <command_interface name="velocity">
                    <param name="min">-5</param>
                    <param name="max">5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
            <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
            <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <!-- TRANSMISSION -->
      <!-- <transmission name="${prefix}_B2C_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_B2C" role="${prefix}_B2C">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_B2C" role="${prefix}_B2C">
            <mechanicalReduction>272.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_C2F_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_C2F" role="${prefix}_C2F">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_C2F" role="${prefix}_B2C">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>272.5</mechanicalReduction>
          </actuator>
      </transmission>

      <transmission name="${prefix}_F2T_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_F2T" role="${prefix}_F2T">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_F2T" role="${prefix}_F2T">
            <mechanicalReduction>353.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_T2E_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_T2E" role="${prefix}_T2E" >
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_T2E" role="${prefix}_T2E">
            <mechanicalReduction>353.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_wristH_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_wristH" role="${prefix}_wristH">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_wristH" role="${prefix}_wristH">
            <mechanicalReduction>257.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_wristV_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_wristV" role="${prefix}_wristV">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_wristV" role="${prefix}_wristV">
            <mechanicalReduction>257.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_driving_transmission">
        <plugin>transmission_interface/SimpleTransmission</plugin>
          <joint name="${prefix}_driving" role="${prefix}_driving">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_driving" role="${prefix}_driving">
            <mechanicalReduction>353.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission> -->

      <!-- GRIPPER JOINTS (FINGERS) -->
      <joint name="${prefix}_F1_H2P1">
        <command_interface name="position">
                    <param name="min">0.0</param>
                    <param name="max">0.52359877559829887308</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F1_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F1_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F2_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F2_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F2_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F3_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F3_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F3_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F4_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F4_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F4_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F5_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F5_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F5_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F6_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F6_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F6_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F7_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F7_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F7_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F8_H2P1">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">1.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F8_P12P2">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">2.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F8_P22P3">
          <param name="mimic">${prefix}_F1_H2P1</param>
          <param name="multiplier">3.0</param>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
