<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="assembled_wheel_mode" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="grieel_wheel_macro" params="prefix parent">

    <joint
      name="${prefix}_E2grieel"
      type="fixed">
      <origin
        rpy="0 0 0"
        xyz="0 0 0"/>
      <parent
        link="${parent}_limb_end" />
      <child
        link="${prefix}_wristH_Link" />
      <!-- <axis
        xyz="0 1 0" />
      <limit
        lower="0"
        upper="0"
        effort="5"
        velocity="0" /> -->
    </joint>

  <link
    name="${prefix}_wristH_Link">
    <inertial>
      <origin
        xyz="-0.00522566844956051 -1.34546419111017E-16 -2.50808033407652E-17"
        rpy="0 0 0" />
      <mass
        value="0.00988435774287047" />
      <inertia
        ixx="2.66612744764484E-06"
        ixy="-1.34713298418369E-20"
        ixz="3.60089715947716E-21"
        iyy="4.57142030143529E-06"
        iyz="4.76175575235816E-19"
        izz="2.9211242466353E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wristH_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wristH_Link.STL" />
      </geometry>
    </collision>
  </link>


  <link
    name="${prefix}_wristV_Link">
    <inertial>
      <origin
        xyz="0.0195120824576142 -0.000473380302575917 -0.0113217579335182"
        rpy="0 0 0" />
      <mass
        value="0.102059813857681" />
      <inertia
        ixx="2.51506057023328E-05"
        ixy="5.87568310882065E-07"
        ixz="5.02138918676071E-10"
        iyy="2.47069145197251E-05"
        iyz="-1.31422853272996E-09"
        izz="1.79824315026287E-05" />
    </inertial>
    <visual>
      <origin
        xyz="-0.014255 0 0"
        rpy="-3.14159265358 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wristV_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.014255 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wristV_Link.STL" />
      </geometry>
    </collision>
  </link>


  <joint
    name="${prefix}_wristH"
    type="revolute">
    <origin
      xyz="0.014255 0 0"
      rpy="0 0 0" />
    <parent
      link="${prefix}_wristH_Link" />
    <child
      link="${prefix}_wristV_Link" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14159265358"
      upper="3.14159265358"
      effort="5"
      velocity="5" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>


  <link
    name="${prefix}_driving_Link">
    <inertial>
      <origin
        xyz="0.0448909989381638 -0.00431415254067207 5.44808063318511E-05"
        rpy="0 0 0" />
      <mass
        value="0.132659951309175" />
      <inertia
        ixx="4.32511275712107E-05"
        ixy="-4.1427317823442E-09"
        ixz="7.08867361092382E-09"
        iyy="3.4691959624158E-05"
        iyz="-1.0616454627913E-08"
        izz="3.76031003493131E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0.024002 0 -0.03325 "
        rpy="3.14159265358 -1.5708 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/driving_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.03325 0 0.024002"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/driving_Link.STL" />
      </geometry>
    </collision>
  </link>


  <joint
    name="${prefix}_wristV"
    type="revolute">
    <origin
      xyz="0.018995 0 0.024002"
      rpy="0 0 0" />
    <parent
      link="${prefix}_wristV_Link" />
    <child
      link="${prefix}_driving_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.35619449019"
      upper="1.5708"
      effort="5"
      velocity="5" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>


  <link
    name="${prefix}_wheel_Link">
    <inertial>
      <origin
        xyz="0.00222516909085785 0.00371161518941796 0.0864468548098098"
        rpy="0 0 0" />
      <mass
        value="0.415840945785028" />
      <inertia
        ixx="8.46005758272478E-05"
        ixy="5.92848495177423E-08"
        ixz="-1.25700028998783E-06"
        iyy="6.34434076414387E-05"
        iyz="-5.56154912625676E-07"
        izz="9.63386112584046E-05" />
    </inertial>
    <visual>
      <origin
        xyz=" 0.010898 0 -0.079017"
        rpy="0 -1.5708 3.14159265358" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
        rgba="0.2 0.2 0.2 1" />
      </material>
    </visual>
    <collision name="${prefix}_wheel_Link_collision">
      <origin
        xyz="-0.079017 0 0.010898"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find lbr_description)/meshes/Grieel_wheel_mode/wheel_Link.STL" />
      </geometry>
    </collision>
    <!-- <collision name="${prefix}_wheel_Link_collision">
      <origin
        xyz="0 -0.118 0"
        rpy="${pi/2} 0 0" />
      <geometry>
        <cylinder length="0.04" radius="0.078"/>
      </geometry>
    </collision> -->
  </link>


  <joint
    name="${prefix}_driving"
    type="continuous">
    <origin
    xyz="0.013104 0 0.045762"
    rpy="0 0 0" />
    <parent
      link="${prefix}_driving_Link" />
    <child
      link="${prefix}_wheel_Link" />
    <axis
      xyz="-1 0 0" />
    <dynamics damping="0.1" friction="0.4"/>
  </joint>

    <!-- Gazebo plugin for contact sensor, collision name like that because of parsing errors in the urdf  -->
  <gazebo reference="${prefix}_wheel_Link">
    <sensor name="${prefix}_gripper_bumper_sensor" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>${prefix}_wheel_Link_collision_collision</collision>
      </contact>
      <plugin name="${prefix}_gripper_bumper" filename="libgazebo_ros_bumper.so">
        <ros>
          <namespace>${prefix}</namespace>
        </ros>
        <frame_name>${prefix}_wheel_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
