<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="assembled_gripper_mode" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="not_first_finger" default="false" />

  <xacro:macro name="grieel_gripper_finger_macro" params="prefix name *origin">
    <joint
        name="${prefix}_${name}_H2P1"
        type="revolute">
        <mimic joint="${prefix}_F1_H2P1" multiplier="1" offset="0"/>
        <xacro:insert_block name="origin"/>
        <parent
        link="${prefix}_hand_Link" />
        <child
        link="${prefix}_${name}_phalanx1" />
        <axis
        xyz="0 1 0" />
        <limit
        lower="0.0"
        upper="${pi/6}"
        effort="50.0"
        velocity="10.0" />
        <dynamics damping="0.05" friction="0.1"/>
    </joint>

    <link
        name="${prefix}_${name}_phalanx1">
        <inertial>
            <origin
                xyz="0.00162585 0.00031929 0.01672194"
                rpy="0 0 0" />
            <mass
                value="0.003797793442763989" />
            <inertia
                ixx="3.31093803e-07"
                ixy="3.15649096e-09"
                ixz="-1.22740945e-09"
                iyy="3.44910628e-07"
                iyz="-4.29494199e-09"
                izz="8.86398503e-08" />
        </inertial>
        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger1.stl" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.2 0.2 0.2 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger1.stl" />
        </geometry>
        </collision>
    </link>

    <gazebo reference="${prefix}_${name}_phalanx1">
        <material>Gazebo/Black</material>
        <visual>
            <material>
                <ambient>0.2 0.2 0.2 1</ambient>
                <diffuse>0.2 0.2 0.2 1</diffuse>
                <specular>0.01 0.01 0.01 1</specular>
                <emissive>0.01 0.01 0.01 1</emissive>
            </material>
        </visual>

        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000</kp>
        <kd>1.0</kd>
    </gazebo>

    <joint
        name="${prefix}_${name}_P12P2"
        type="revolute">
        <mimic joint="${prefix}_F1_H2P1" multiplier="2" offset="0"/>
        <origin
        xyz="0 0 0.030654"
        rpy="0 0 0" />
        <parent
        link="${prefix}_${name}_phalanx1" />
        <child
        link="${prefix}_${name}_phalanx2" />
        <axis
        xyz="0 1 0" />
        <limit
        lower="${-pi/3}"
        upper="${pi*3/2}"
        effort="50.0"
        velocity="10.0" />
        <dynamics damping="0.05" friction="0.1"/>
    </joint>

    <link
        name="${prefix}_${name}_phalanx2">
        <inertial>
            <origin
                xyz="-0.00673704 0.00047222 0.01186178"
                rpy="0 0 0" />
            <mass
                value="0.013082859723205855" />
            <inertia
                ixx="3.00003952e-06"
                ixy="-6.39755832e-09"
                ixz="-9.83815289e-08"
                iyy="1.39153928e-06"
                iyz="7.23067218e-09"
                izz="2.30350901e-06" />
        </inertial>
        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger2.stl" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.2 0.2 0.2 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger2.stl" />
        </geometry>
        </collision>
    </link>

    <gazebo reference="${prefix}_${name}_phalanx2">
        <material>Gazebo/Black</material>
        <visual>
            <material>
                <ambient>0.2 0.2 0.2 1</ambient>
                <diffuse>0.2 0.2 0.2 1</diffuse>
                <specular>0.01 0.01 0.01 1</specular>
                <emissive>0.01 0.01 0.01 1</emissive>
            </material>
        </visual>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000</kp>
        <kd>1.0</kd>
    </gazebo>


   <joint
        name="${prefix}_${name}_P22P3"
        type="revolute">
        <mimic joint="${prefix}_F1_H2P1" multiplier="3" offset="0"/>
        <origin
        xyz="0 0 0.028999"
        rpy="0 0 0" />
        <parent
        link="${prefix}_${name}_phalanx2" />
        <child
        link="${prefix}_${name}_phalanx3" />
        <axis
        xyz="0 1 0" />
        <limit
        lower="${-pi/3}"
        upper="${pi*3/2}"
        effort="50.0"
        velocity="10.0" />
        <dynamics damping="0.05" friction="0.1"/>
    </joint>

    <link
        name="${prefix}_${name}_phalanx3">
        <inertial>
            <origin
                xyz="-0.00232913 0.00061377 0.01268651"
                rpy="0 0 0" />
            <mass
                value="0.0024217622661742476" />
            <inertia
                ixx="1.24811429e-07"
                ixy="5.11516670e-10"
                ixz="1.67264903e-08"
                iyy="1.28312272e-07"
                iyz="1.69572891e-09"
                izz="4.48441736e-08" />
        </inertial>
        <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger3.stl" />
        </geometry>
        <material
            name="">
            <color
            rgba="0.2 0.2 0.2 1" />
        </material>
        </visual>
        <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
            <mesh
            filename="file://$(find lbr_description)/meshes/Grieel_gripper_mode/gripper_Link_finger3.stl" />
        </geometry>
        </collision>
    </link>

    <gazebo reference="${prefix}_${name}_phalanx3">
        <material>Gazebo/Black</material>
        <visual>
            <material>
                <ambient>0.2 0.2 0.2 1</ambient>
                <diffuse>0.2 0.2 0.2 1</diffuse>
                <specular>0.01 0.01 0.01 1</specular>
                <emissive>0.01 0.01 0.01 1</emissive>
            </material>
        </visual>
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000</kp>
        <kd>1.0</kd>
    </gazebo>


  </xacro:macro>

</robot>
