<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="wheel_mode" default="true" />

    <xacro:macro name="gazebo_phisics_single_ee_macro" params="prefix">

        <xacro:if value="$(arg ${prefix}_wheel_mode)">
            <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_wheel_description.xacro" />
        </xacro:if>

        <xacro:unless value="$(arg ${prefix}_wheel_mode)">
            <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_gripper_description.xacro" />
        </xacro:unless>
        <!-- Gazebo tag for support gripper/wheel phisical characteristics -->
        <xacro:if value="$(arg ${prefix}_wheel_mode)">
            <gazebo reference="${prefix}_wheel_Link">
                <mu1>1.5</mu1>
                <mu2>2.0</mu2>
                <kp>1000000</kp>
                <kd>1.0</kd>
            </gazebo>
        </xacro:if>

        <xacro:unless value="$(arg ${prefix}_wheel_mode)">
            <gazebo reference="${prefix}_gripper_Link">
                <mu1>0.5</mu1>
                <mu2>0.5</mu2>
                <kp>1000000</kp>
                <kd>1.0</kd>
            </gazebo>
        </xacro:unless>

    </xacro:macro>

</robot>