<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">    

  <xacro:macro name="transmission_macro" params="prefix">
      <transmission name="${prefix}_B2C_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_B2C">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_B2C">
            <mechanicalReduction>272.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_C2F_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_C2F">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_C2F">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>272.5</mechanicalReduction>
          </actuator>
      </transmission>

      <transmission name="${prefix}_F2T_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_F2T">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_F2T">
            <mechanicalReduction>353.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_T2E_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_T2E">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_T2E">
            <mechanicalReduction>353.5</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_wristH_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_wristH">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_wristH">
            <mechanicalReduction>257.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_wristV_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_wristV">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_wristV">
            <mechanicalReduction>257.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>

      <transmission name="${prefix}_driving_transmission">
        <type>transmission_interface/SimpleTransmission</type>
          <joint name="${prefix}_driving">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </joint>
          <actuator name="${prefix}_Dynamixel_driving">
            <mechanicalReduction>353.4</mechanicalReduction>
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          </actuator>
      </transmission>


  </xacro:macro>

</robot>