<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ros2_control_macro" params="prefix wheel_mode">

    <ros2_control name="${prefix}_ros2_control" type="system">

      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>

      <joint name="${prefix}_B2C">
        <command_interface name="position">
          <param name="min">-2.10</param>
          <param name="max">2.10</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">  <!-- Set initial joint position -->
          <param name="initial_value"> 0.0 </param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_C2F">
        <command_interface name="position">
          <param name="min">-1.95</param>
          <param name="max"> 1.30</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value"> 0.0 </param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_F2T">
        <command_interface name="position">
          <param name="min">-0.4</param>
          <param name="max"> 2.95</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value"> ${pi/2} </param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_T2E">
        <command_interface name="position">
          <param name="min">-${pi/2}</param>
          <param name="max"> ${pi/2}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value"> 0.0 </param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>


      <joint name="${prefix}_wristH">
        <command_interface name="position">
          <param name="min">-${pi} </param>
          <param name="max"> ${pi} </param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <xacro:if value="$(arg wheel_mode)">
            <param name="initial_value"> ${pi} </param>
          </xacro:if>
          <xacro:unless value="$(arg wheel_mode)">
            <param name="initial_value"> 0.0 </param>
          </xacro:unless>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_wristV">
        <command_interface name="position">
          <param name="min">-${pi/4}</param>
          <param name="max">${pi/2}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-2.5</param>
          <param name="max">2.5</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-10</param>
          <param name="max">10</param>
        </command_interface>
        <state_interface name="position">
          <xacro:if value="$(arg wheel_mode)">
            <param name="initial_value"> ${pi/2} </param>
          </xacro:if>
          <xacro:unless value="$(arg wheel_mode)">
            <param name="initial_value"> 0.0 </param>
          </xacro:unless>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}_driving">
        <command_interface name="position">
          <param name="min">-${pi/10}</param>
          <param name="max">${pi/10}</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0</param>
          <param name="max">0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-0</param>
          <param name="max">0</param>
        </command_interface>
        <state_interface name="position">
          <xacro:if value="$(arg wheel_mode)">
            <param name="initial_value"> 0.0 </param>
          </xacro:if>
          <xacro:unless value="$(arg wheel_mode)">
            <param name="initial_value"> 0.0 </param>
          </xacro:unless>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
