<robot name="LIMBERO" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_base_description.xacro" />

  <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_limb_description.xacro" />

  <!-- <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_gazebo.xacro" /> -->

  <!-- <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_ros2_control.xacro" /> -->

  <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_joint_state.xacro" />
  <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_grieel_joint_actuation.xacro" />

  <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_gazebo_phisics.xacro" />

  <!-- <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_grieel_transmission.xacro" /> -->

  <!-- <xacro:include filename="$(find lbr_description)/urdf/Grieel/lidar.xacro" /> -->


  <!-- Use macro to define base and four limbs -->
  <xacro:base_macro/>

  <xacro:limb_macro prefix="LF" parent="base_frame" radius="45"/>
  <xacro:limb_macro prefix="LH" parent="base_frame" radius="135"/>
  <xacro:limb_macro prefix="RH" parent="base_frame" radius="225"/>
  <xacro:limb_macro prefix="RF" parent="base_frame" radius="315"/>

  <xacro:arg name="wheel_mode" default="true" />

  <!-- Grieel wheel mode -->
  <xacro:if value="$(arg wheel_mode)">
    <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_wheel_description.xacro" />

    <xacro:grieel_wheel_macro prefix="LF" parent="LF"/>
    <xacro:grieel_wheel_macro prefix="LH" parent="LH"/>
    <xacro:grieel_wheel_macro prefix="RH" parent="RH"/>
    <xacro:grieel_wheel_macro prefix="RF" parent="RF"/>

    <!-- <xacro:ros2_control_macro prefix="LF" wheel_mode= "true"/>
    <xacro:ros2_control_macro prefix="LH" wheel_mode= "true"/>
    <xacro:ros2_control_macro prefix="RH" wheel_mode= "true"/>
    <xacro:ros2_control_macro prefix="RF" wheel_mode= "true"/> -->
  </xacro:if>

  <!-- Grieel gripper mode -->
  <xacro:unless value="$(arg wheel_mode)">
    <xacro:include filename="$(find lbr_description)/urdf/Grieel/grieel_gripper_description.xacro" />

    <xacro:grieel_gripper_macro prefix="LF" parent="LF"/>
    <xacro:grieel_gripper_macro prefix="LH" parent="LH"/>
    <xacro:grieel_gripper_macro prefix="RH" parent="RH"/>
    <xacro:grieel_gripper_macro prefix="RF" parent="RF"/>

    <!-- <xacro:ros2_control_macro prefix="LF" wheel_mode= "false"/>
    <xacro:ros2_control_macro prefix="LH" wheel_mode= "false"/>
    <xacro:ros2_control_macro prefix="RH" wheel_mode= "false"/>
    <xacro:ros2_control_macro prefix="RF" wheel_mode= "false"/> -->
  </xacro:unless>


  <xacro:joint_state_macro prefix="LF"/>
  <xacro:joint_state_macro prefix="LH"/>
  <xacro:joint_state_macro prefix="RH"/>
  <xacro:joint_state_macro prefix="RF"/>
  
  <xacro:include filename="$(find lbr_description)/urdf/Grieel/lbr_grieel_joint_state.xacro" />

  <xacro:joint_actuator_macro prefix="LF"/>
  <xacro:joint_actuator_macro prefix="LH"/>
  <xacro:joint_actuator_macro prefix="RH"/>
  <xacro:joint_actuator_macro prefix="RF"/>

  <!-- <xacro:transmission_macro prefix="LF"/>
  <xacro:transmission_macro prefix="LH"/>
  <xacro:transmission_macro prefix="RH"/>
  <xacro:transmission_macro prefix="RF"/> -->

  <xacro:gazebo_phisics_macro prefix="LF"/>
  <xacro:gazebo_phisics_macro prefix="LH"/>
  <xacro:gazebo_phisics_macro prefix="RH"/>
  <xacro:gazebo_phisics_macro prefix="RF"/>

</robot>